
header{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171D25;
}

main{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

nav{
    display: inline-block;
    text-align: center;
    display: inline-block;
    font-family:"Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}

li{
    list-style: none;
}

#Cartas{
  display: flex;
  margin: 1.5%;
  align-items: center;
  /*background-color: green;*/
}

.Botões{
    padding: 0.5%;
    width: 600px;
    height: auto;
    margin: 1%;
}

.Pesquisa{
    margin: 1%;
    height: 50%;
    width: 80%;
    background-color: rgb(33, 33, 94);
}

.Pesquisa_link{
    list-style: square;
    text-align: center;
    width: 90%;
    font-size: 16px;
}







/*----------------------    MENU HAMBURGUER   ---------------------------*/


#Humburguer{
 padding: 1%;
 width: 60%;
}
  
.menu-hamburguer {
    margin: 0.1rem;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  ul {
    
    /*background-color: rgb(255, 0, 119);*/
    
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 16px;
    
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    display: flex;
    /*background-color: chartreuse;*/
    width: 100%;
    justify-content: center;
    margin-right: 1%;
  }
  
  
  @media (max-width: 600px) {
    .menu-hamburguer {
      display: block;
    }
    ul {
      /*background: #2196f3;*/
      
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;
    }
    ul.mostrar {
      display: flex;
    }
  }
