
header{
  width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171D25;
}

aside{
  display: flex;
  width: 40%;
}

main{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    height: auto;
  }

nav{
    /*background-color: aqua;*/
    width: 90%;
    display: inline-block;
    text-align: center;
    display: inline-block;
    font-family:"Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}

#Cartas{
  
  display: flex;
  margin: 1.5%;
  align-items: center;
  /*background-color: green;*/
}

.Botões{
    padding: 0.5%;
    width: 600px;
    height: auto;
    margin: 1%;
}

.Pesquisa{
    margin: 1%;
    height: 50%;
    width: 80%;
}

#Hamburguer{
  display: flex;
  text-align: center;
  background: ();
  margin: 5%;
  width: 70%;
}




/*----------------------    MENU HAMBURGUER   ---------------------------*/

.menu-hamburguer {
    width: 700px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  ul {
    background: linear-gradient(to right, #2F7FC2, #0F216E);
    height: 90%;
    align-items: center;
    width: 100%;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 4px 4px 4px 4px;
  }
  
  li {
    display: flex;
    width: 75%;
    height: 60%;
    justify-content: center;
    margin-right: 1%;
  }
  
  @media (max-width: 600px) {
    .menu-hamburguer {
      display: flex; /* Mostra o botão */
    }
    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;
    }
    ul.mostrar {
      display: flex;
    }
  }